trigger: none
pr: none

pool:
  vmImage: "ubuntu-latest"

variables:
  artifactFeed: interpret-extensions-feed

steps:
  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to PATH

  - template: templates/create-env-template.yml

  - bash: |
      source activate interp
      pip install -e ./python
    displayName: Install interpret-community

  - bash: |
      source activate interp
      flake8 --max-line-length=119 --exclude=.git/,__pycache__/,dist/ .
    displayName: "Run flake8"

  - bash: |
      source activate interp
      pip freeze && \
      pytest -m "notebooks" test/ --junitxml=./TEST-TEST.xml
    displayName: "Run tests"

  - task: PublishTestResults@2
    displayName: "Publish Test Results **/TEST-*.xml"
    condition: succeededOrFailed()
