pytest
pytest-cov
nbformat
papermill
scrapbook
flake8
flake8-bugbear==21.11.29
flake8-blind-except==0.1.1
flake8-breakpoint
flake8-logging-format==0.6.0
isort
itsdangerous==2.0.1
markupsafe<2.1.0
# Jupyter dependency that fails with python 3.6
pywinpty==2.0.2; python_version <= '3.6' and sys_platform == 'win32'
jupyter