include interpret_community/widget/static/extension.js
include interpret_community/widget/static/index.js
include interpret_community/widget/templates/inlineDashboard.html
recursive-include interpret_community/widget/static *.js.map